h1 {
    color: #F8DAEC;
    text-align: center;
    font-family:'Courier New', Courier, monospace; 
    font-size: 45px;
    padding: 2%;
    margin: 0;
}
h2 {
    color: #F8DAEC;
    text-align: center;
    padding: 2%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
    background-image: url("assets/background.jpeg");
}
.Board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
.Tile {
    background-image: url("assets/Tile.png");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.Error {
    position: absolute;
    background-image: url("assets/Error.png");
    visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25%;
    width: 25%;
    top: 30%;
    left: 40%;
}
.Reset {
    position: absolute;
    background-image: url("assets/Reset.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10%;
    width: 15%;
    top: 85%;
    left: 80%;
}
.userWin {
    position: absolute;
    background-image: url("assets/userWin.png");
    visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25%;
    width: 25%;
    top: 30%;
    left: 40%;
}
.computerWin {
    position: absolute;
    background-image: url("assets/computerWin.png");
    visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25%;
    width: 25%;
    top: 30%;
    left: 40%;

}
